<h1>Question 2</h1>

<div class="search-container">
  <div class="row">
    <div class="search-hero">
      <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="on" placeholder="&#61442;  search">
    </div>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>name</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of items | filter:searchText">
        <td>{{item}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<router-outlet></router-outlet>
